html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.417rem;

    @include respond-below('lg') {
        font-size: 3.2rem;
    }
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
}

a {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
}