// PRICING SECTION STYLES
.pricing {
    margin-top: 12rem;

    @include respond-below('lg') {
        margin-top: 6.4rem;
    }
}

.plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;

    @include respond-below('x-lg') {
        width: 90%;
    }

    @include respond-below('sm') {
        width: 85%;
    }

    @include respond-below('lg') {
        flex-direction: column;
        margin: auto;
    }
}

.plan {
    background-color: #F5F5F5;
    text-align: center;
    height: 40.7rem;
    padding: 4rem;
    padding-top: 5.6rem;
    width: 31.5%;

    display: grid;
    grid-template-columns: 39% min-content;
    justify-content: space-between;
    align-content: space-between;

    * {
        grid-column: 1 / span 2;
    }

    @include respond-below('lg') {
        width: 100%;
        height: 27rem;
        padding: 4rem;

        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }

        &__description {
            grid-column: 1 / span 1;
            text-align: left;
        }

        &__rate {
            grid-column: 2 / span 1;
            text-align: right;
        }

        a {
            grid-column: 1 / span 1;
        }
    }

    @include respond-below('med-lg') {
        height: 30rem;
    }

    @include respond-below('sm') {
        height: 40rem;
    }

    @include respond-below('x-sm') {
        height: 47rem;
        padding: 4rem 2rem;
    }

    @include respond-below('sm-med') {
        grid-template-columns: 45% min-content;
    }

    @include respond-below('sm') {
        * {
            grid-column: 1 / span 2;
            text-align: center;
        }

        a {
            grid-column: 1 / span 2;
        }
    }

    &__description {
        h2 {
            margin-bottom: 1.8rem;
        }

        p {
            opacity: 60%;
        }
    }

    &--pro {
        color: white;
        background-color: $c-black;
        height: 47rem;
        padding-top: 8.8rem;
        padding-bottom: 7.1rem;
        position: relative;

        @include respond-below('lg') {
            height: 27rem;
            padding: 4rem;
        }

        @include respond-below('med-lg') {
            height: 30rem;
            padding: 4rem;
        }

        @include respond-below('sm') {
            height: 40rem;
        }

        @include respond-below('x-sm') {
            height: 47rem;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.6rem;
            background-image: linear-gradient(192deg, $c-blue-light, $c-pink-desat, $c-orange-light);
            top: 0;
            left: 0;

            @include respond-below('lg') {
                width: 0.6rem;
                height: 100%;
            }
        }
    }
}

.plan-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25.5rem;
    margin: auto;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 4.8rem;

    &__label {
        opacity: 50%;
        transition: .2s;
    }

    .selected {
        opacity: 100%;
    }

    @include respond-below('lg') {
        margin-bottom: 4rem;
    }
}

// COMPARISON SECTION STYLES
.comparison {
    margin: 16rem 0;
    text-align: center;
    text-transform: uppercase;

    @include respond-below('lg') {
        margin: 11.2rem 0;
    }

    @include respond-below('sm') {
        margin: 6.4rem 0;
    }

    h1 {
        margin-bottom: 5.6rem;

        @include respond-below('sm') {
            display: none;
        }
    }
}

.compare-table {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    text-align: left;

    &:not(.for-mobile) {
        max-width: 74rem;

        tr {
            height: 6.3rem;
            border-bottom: 1px solid $c-black;

            &:not(:first-child) {
                border-bottom: 1px solid $c-grey;
            }
        }

        td,
        th {
            &:first-child {
                width: 40%;
            }

            &:not(:first-child) {
                text-align: center;
                width: 20%;
            }
        }

        @include respond-below('sm') {
            display: none;
        }
    }

    &.for-mobile {
        width: 85%;

        .main-title-row {
            vertical-align: top;
            border-bottom: 1px solid $c-black;
            height: 3.9rem;
        }

        .feature-title-row {
            vertical-align: bottom;
            height: 5rem;
            height: 3.9rem;
        }

        .plan-titles-row {
            vertical-align: bottom;
            opacity: 50%;
            font-size: 1rem;
            letter-spacing: 0.167rem;
            height: 2.9rem;
        }

        .data-row {
            vertical-align: top;
            height: 3.6rem;
            border-bottom: 1px solid $c-grey;
        }

        th {
            width: 33.33%;
        }

        @include respond-above('sm') {
            display: none;
        }
    }
}