table {
    width: 90%;
    max-width: 74rem;
    border-collapse: collapse;
}

tr {
    height: 6.3rem;
    border-bottom: 1px solid $c-black;

    &:not(:first-child) {
        border-bottom: 1px solid $c-grey;
    }
}

td,
th {
    text-align: left;

    &:not(:first-child) {
        text-align: center;
    }

    &:first-child {
        width: 40%;
    }

    width: 20%;
}