.footer {
    background-color: $c-black;
    padding: 6.4rem 0;

    &__content {
        color: white;
        display: grid;
        column-gap: 10rem;
        grid-template-columns: 1fr minmax(min-content, 3fr) minmax(max-content, 1fr);
        grid-template-rows: min-content 9rem min-content;
        width: 80%;
        margin: auto;

        @include respond-below('sm') {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        @include respond-below('md') {
            column-gap: 0;
        }

        p {
            opacity: 50.25%;

            @include respond-below('sm') {
                text-align: center;
            }
        }

        .logo-container {
            img {
                margin-bottom: 3.2rem;
            }
        }

        .logos-container {
            display: flex;
            justify-content: space-between;
            width: 15.3rem;

            @include respond-below('sm') {
                margin-bottom: 4.9rem;
            }

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__item {
        &--1 {
            grid-column: 1 / span 1;

            @include respond-below('sm') {
                justify-self: center;
            }
        }

        &--2 {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;

            @include respond-below('sm') {
                grid-column: 1 / span 1;
                grid-row: auto;
                justify-self: center;
            }
        }

        &--3 {
            grid-column: 2 / span 1;
            grid-row: 1 / span 3;

            @include respond-below('md') {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
            }

            @include respond-below('sm') {
                grid-column: 1 / span 1;
                grid-row: auto;
                justify-self: center;
            }
        }

        &--4 {
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
            justify-self: end;

            @include respond-below('sm') {
                grid-column: 1 / span 1;
                grid-row: auto;
                justify-self: center;
                margin-bottom: 3.4rem;
            }
        }

        &--5 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1;
            justify-self: end;

            @include respond-below('sm') {
                grid-column: 1 / span 1;
                grid-row: auto;
                justify-self: center;
            }
        }
    }
}