.header {
    overflow: hidden;
    padding: 1.6rem 4rem;
    height: 7.2rem;

    @include respond-below('small') {
        padding: 0 2.4rem;
        // ** TEST ** //
        height: 33.5rem;
        ////////////////

        &.collapse {
            &:not(.show) {
              height: 7.2rem;
            }
          }

        &--mobile {
            height: 7.2rem;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__content {
        margin: auto;
        max-width: 111rem;

        hr {
            width: 95%;
            margin: 2rem 0;
            opacity: 25%;
        }

        @include respond-below('small') {
            flex-direction: column;
        }
    }
}