.header {
    background-color: $c-white;
    overflow: hidden;
    padding: 1.6rem 4rem;
    height: 7.2rem;
    transition: height .3s ease-out .1s;

    @include respond-below('sm-med') {
        padding: 0 2.4rem;

        &.menu-drop {
            height: 33.5rem;
        }

        &--mobile {
            height: 7.2rem;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__content {
        margin: auto;

        @include respond-above('x-lg') {
            width: 75%;
        }

        hr {
            width: 95%;
            margin: 2rem 0;
            opacity: 25%;
        }

        @include respond-below('sm-med') {
            flex-direction: column;
        }
    }
}