.nav-header {
    &__list {
        li:not(:last-child) {
            margin-right: 3.7rem;
        }

        @include respond-below('small') {
            flex-direction: column;
            margin-top: 3.2rem;

            li {
                text-align: center;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }

            a {
                font-size: 1.5rem;
            }
        }
    }

    a {
        transition: color 0.2s ease;

        &:hover {
            color: $c-grey;
        }
    }
}